# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/

# Data
data/raw/*
data/processed/*

# Python packages
*.egg-info/

# OS
.DS_Store
Thumbs.db